    {{> head}}

    {{> navbar}}
    <div class="row">
        <div class="col-8">
            <h1>Vista parcial con node.js (Inscripcion 1-2021)</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum error deserunt commodi quae quas reiciendis, magnam sit nihil consequatur veniam sequi animi, qui quisquam fugit facere ratione dolorum modi. Assumenda?</p>
        </div>
        <div class="col-4">
            <img src="assets/img/Inscripcion.png" class="img-thubmail">
        </div>
    </div>
    {{> footer}}
