    {{> head}}

    {{> navbar}}
    <div class="jumbotron">
        <div class="content">
            <h1 class="display-4">Hola, {{ capitalizar nombre }}!</h1>
            <p class="lead">this</p>
            <hr class="my-4">
            <p>is uses</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">learn more</a>
            </p>
        </div>

    </div>
    {{> footer}}
